/* Fondo gradiente para toda la app desde el header */
.app-gradient {
  min-height: 100vh;
  background: linear-gradient(to bottom, #5c93f8, #000000);
}

* {
  box-sizing: border-box;
}

/* Estilos generales de todo el proyecto */

:root {
  /* Tipografía y layout */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Variables de color para el tema oscuro (por defecto) */
  --white: #cecece;
  --light-purple: #cfc2dc;
  --accent:#00d1ff;
  --primary-blue:#3b82f6;
  --hover-blue:#2563eb;
  --success-green:#22c55e;

  --color-link: #646cff;
  --color-link-hover: #535bf2;
  --color-button-bg: #1a1a1a;
  --color-button-border-hover: #646cff;
  --bg-dark-grey: #1e1f24;
  --darker-grey: #1d1d1d;


  /* Cosas para que funcionen mejor las fuentes en diferentes browser */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Media query que detecta si es light mode, y aplica los siguientes cambios */
@media (prefers-color-scheme: light) {
  :root {
  }
}

a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}